html,
body {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dock {
  height: 5%;
  position: fixed;
  left: 90%;
  margin-top: 50px;
  margin-right: 1000px;
}
